# The directory Mix will write compiled artifacts to.
_build

# If you run "mix test --cover", coverage assets end up here.
cover

# The directory Mix downloads your dependencies sources to.
deps

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Temporary files, for example, from tests.
/tmp/

.DS_Store
.elixir_ls
.foundry/tools/
.foundry/local/
.hex-docs
.hex-packages
.specify
.specstory
.vscode
.zig-global-cache
binaries
burrito_out
package-lock.json
join_files.sh
.env
dist